# 2-1. 文字列 (string)

In [1]:
word1 = 'hello'
word1

'Hello'

In [2]:
word2 = 'Hello'
word2

'Hello'

In [3]:
type(word1)

str

In [4]:
type(word2)

str

In [5]:
word3 = str(123)
word3

'123'

In [6]:
i = int('123')
i

123

In [7]:
len(word1)

5

In [8]:
#３番目の文字を得たい
'hello'[2]

'l'

In [9]:
word1 = 'hello'
word1[2]

'l'

In [11]:
# 文字列の最後を取得
word1[-1]

'o'

In [12]:
digits1 = '0123456789'
digits1[1:4]

'123'

In [13]:
digits1[0:3]

'012'

In [15]:
digits1[:3]

'012'

In [16]:
assert(digits1[0:3] == digits1[:3])

In [19]:
digits1[-4: -1]

'678'

In [20]:
# 3から2文字おきにindex 9　より小さい数を並べる
digits1[3: 9: 2]

'357'

In [21]:
digits1[8: 4: -1]

'8765'

In [22]:
blank = ''

In [24]:
price = '2,980円'
price.replace(',', '')

'2980円'

In [25]:
digits1 = '0123456789'
print('空文字列1 = ', digits1[4:2])
print('空文字列２ = ', digits1[-1:-4])
print('空文字列3 = ', digits1[3:3])
print('空文字列ではない = ', digits1[3:-1])

空文字列1 =
空文字列２ =
空文字列3 =
空文字列ではない =  345678

In [26]:
#　文字列Aが文字列Bを含むかを確認するときに
# 文字列A in 文字列B とする

In [27]:
'lo' in 'hello'

True

In [28]:
'z' in 'hello'

False

In [31]:
word1 = 'hello'
substr1 = 'lo'
substr1 in word1

True

In [32]:
substr2 = 'z'
substr2 in word1

False

In [33]:
# 'not in' has the opposite meaning of 'in'
word1 = 'hello'
substr2 = 'z'
substr2 not in word1

True

In [36]:
escaped1 = 'This is \'MINE\''
escaped1

"This is 'MINE'"

In [38]:
doubleequated = "This is 'MINE'"
doubleequated

"This is 'MINE'"

In [40]:
escaped2 = "時は金なり\n\"Time ismoney\"\nTime is \\"
print(escaped2)

時は金なり
"Time ismoney"
Time is \

In [42]:
triple_single_quated = '''時は金なり
'Time is money'
This is \\'''
print(triple_single_quated)

時は金なり
'Time is money'
This is \

In [43]:
word1 = 'hello'
word2 = 'world'
text1 = word1 + word2
text1

'helloworld'

In [44]:
word1 = 'hello'
word1 * 3

'hellohellohello'

In [45]:
word1 = 'hello'
word1.replace('l', '123')

'he123123o'

#練習::
英語の文章からなる文字列 str_engsentences が引数として与えられたとき、str_engsentences 中に含まれる全ての句読点（., ,, :, ;, !, ?）を削除した文字列を返す関数 remove_punctuations を作成してください。 （練習の解答はこのノートブックの一番最後にあります。）

次のセルの ... のところを書き換えて remove_punctuations(str_engsentences) を作成してください。

In [50]:
def remove_punctuations(str_engsentences):
    str = str_engsentences.replace('.', '')
    str = str.replace(',', '')
    str = str.replace(':', '')
    str = str.replace(';', '')
    str = str.replace('!', '')
    str = str.replace('?', '')

    return str

In [51]:
print(remove_punctuations('Quiet, uh, donations, you want me to make a donation to the coast guard youth auxiliary?') == 'Quiet uh donations you want me to make a donation to the coast guard youth auxiliary')

True

#練習::ATGCの4種類の文字から成る文字列 str_atgc が引数として与えられたとき、文字列 str_pair を返す関数 atgc_bppair を作成してください。ただし、str_pair は、str_atgc 中の各文字列に対して、 A を T に、T を A に、G を C に、C を G に置き換えたものです。

次のセルの ... のところを書き換えて atgc_bppair(str_atgc) を作成してください。

In [58]:
def atgc_bppair(str_atgc):
    str_pair = str_atgc.replace('A', 't')
    str_pair = str_pair.replace('T', 'a')
    str_pair = str_pair.replace('G', 'c')
    str_pair = str_pair.replace('C', 'g')

    str_pair = str_pair.upper()

    return str_pair

In [59]:
print(atgc_bppair('AAGCCCCATGGTAA') == 'TTCGGGGTACCATT')

True

In [61]:
word1 = 'hello'
word1.index('lo')

3

In [62]:
word1.index('l')

2

In [63]:
word1 = 'hello'
word1.find('a')

-1

#練習:
コロン (:) を1つだけ含む文字列 str1 を引数として与えると、コロンの左右に存在する文字列を入れ替えた文字列を返す関数 swap_colon(str1) を作成してください。

次のセルの ... のところを書き換えて swap_colon(str1) を作成してください。

In [64]:
def swap_colon(str1):
    col = str1.find(':')
    str2 = str1[:col]
    str3 = str1[col+1:]

    str = str3 + ':' + str2

    return str

In [65]:
print(swap_colon('hello:world') == 'world:hello')

True

In [67]:
word1 = 'hello'
word1.count('l')

2

In [68]:
'aaaaaa'.count('aa')

3

練習: ATGCの4種類の文字から成る文字列 str_atgc と塩基名（A, T, G, C のいずれか）を指定する文字列 str_bpname が引数として与えられたとき、str_atgc 中に含まれる塩基 str_bpname の数を返す関数 atgc_count を作成してください。

次のセルの ... のところを書き換えて atgc_count(str_atgc, str_bpname) を作成してください。

In [71]:
def atgc_count(str_atgc, str_bpname):
    return str_atgc.count(str_bpname)

In [72]:
print(atgc_count('AAGCCCCATGGTAA', 'A') == 5)

True

In [73]:
upper_dna = 'DNA'
upper_dna.lower()

'dna'

In [74]:
upper_dna

'DNA'

In [75]:
lower_text = 'hello world!'
lower_text.capitalize()

'Hello world!'

In [76]:
lower_text

'hello world!'

In [77]:
lower_text.upper()

'HELLO WORLD!'

In [78]:
lower_text

'hello world!'

In [79]:
' abc\n'.strip()

'abc'

In [80]:
' a b c \n'.strip()

'a b c'

In [81]:
' abc\n'.lstrip()

'abc\n'

In [82]:
' abc\n'.rstrip()

' abc'

In [83]:
print('abc' == 'abc')

True

In [84]:
print('ab' == 'abc')

False

In [85]:
print('abc' != 'abc')

False

In [86]:
print('ab' == 'abc')

False

In [87]:
print('abc' <= ' abc')

False

In [88]:
print('abc' < 'abc')

False

In [89]:
print('abc' < 'abd')

True

In [90]:
print('ab' < 'abc')

True

英語の文字列 str_engsentences が引数として与えられたとき、それが全て小文字である場合、True を返し、そうでない場合、 False を返す関数 check_lower を作成してください。

次のセルの ... のところを書き換えて check_lower(str_engsentences) を作成してください。

In [91]:
def check_lower(str_engsentences):
    if str_engsentences == str_engsentences.lower():
        return True
    else:
        return False

In [92]:
print(check_lower('down down down') == True)
print(check_lower('There were doors all round the hall, but they were all locked') == False)

True
True

コンマ (,) を含む英語の文章からなる文字列 str_engsentences が引数として与えられたとき、str_engsentences 中の一番最初のコンマより後の文章のみかならなる文字列 str_res を返す関数 remove_clause を作成してください。ただし、 str_res の先頭は大文字のアルファベットとしてください。

次のセルの ... のところを書き換えて remove_clause(str_engsentences) を作成してください。

In [115]:
def remove_clause(str_engsentences):
    index = str_engsentences.find(',')
    str = str_engsentences[index+2:]
    return str.capitalize()

In [116]:
print(remove_clause("It's being seen, but you aren't observing.") == "But you aren't observing.")

True