In [1]:
numbers = [0, 10, 20, 30, 40, 50]
numbers

[0, 10, 20, 30, 40, 50]

In [2]:
type(numbers)

list

In [3]:
fruits = ['apple', 'banana', 'chelly']
fruits

['apple', 'banana', 'chelly']

In [4]:
numbers_fruits = [10, 'apple', 20, 'banana', 30]
numbers_fruits

[10, 'apple', 20, 'banana', 30]

In [5]:
empty = []
empty

[]

In [7]:
abcd = ['a', 'b', 'c', 'd']
abcd[2] = 'hello'
abcd

['a', 'b', 'hello', 'd']

In [8]:
abcd[1:3]

['b', 'hello']

In [9]:
abcd[1:3] = ['x', 'y', 'z']
abcd

['a', 'x', 'y', 'z', 'd']

In [10]:
def remove_evenindex(ln):
    ln2 = ln[1::2]
    return ln2

print(remove_evenindex(['a', 'b', 'c', 'd', 'e', 'f', 'g']) == ['b', 'd', 'f'] )
print(remove_evenindex([1, 2, 3, 4, 5]) == [2, 4])

True
True

多重リスト

In [11]:
lns = [[1,2,3], [10, 20, 30], ['a', 'b', 'c']]
lns[1][0]

10

In [12]:
lns[2]

['a', 'b', 'c']

In [17]:
lns2 = [lns, ['x', 1, [11, 12, 13]], ['y',100, 120, 140]] 
lns2

[[[1, 2, 3], [10, 20, 30], ['a', 'b', 'c']],
 ['x', 1, [11, 12, 13]],
 ['y', 100, 120, 140]]

In [18]:
lns2[0]

[[1, 2, 3], [10, 20, 30], ['a', 'b', 'c']]

In [19]:
numbers = [0, 10, 20, 30, 40, 50]
len(numbers)

6

In [20]:
max(numbers)

50

In [21]:
min(numbers)

0

In [22]:
characters = ['e', 'd', 'a', 'c', 'f', 'b']
max(characters)

'f'

In [23]:
sum(numbers)

150

In [24]:
numbers + ['a', 'b', 'c']

[0, 10, 20, 30, 40, 50, 'a', 'b', 'c']

In [26]:
zero10 = [0] *10
zero10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [27]:
x = [[0, 1], [2, 3]]
y = x*3
y

[[0, 1], [2, 3], [0, 1], [2, 3], [0, 1], [2, 3]]

In [30]:
x[0][0] = 99
y

#これは、y の中の複数個所にあるオブジェクトが同一だからです。

[[99, 1], [2, 3], [99, 1], [2, 3], [99, 1], [2, 3]]

In [31]:
10 in numbers

True

In [33]:
#a1 == 1 or a1 == 3 or a1 == 7
#a1 in [1, 3, 7]

a1 = 1
print(a1 == 1 or a1 == 3 or a1 == 7, a1 in [1, 3, 7])
a1 == 3
print(a1 == 1 or a1 == 3 or a1 == 7, a1 in [1, 3, 7])
a1 = 5
print(a1 == 1 or a1 == 3 or a1 == 7, a1 in [1, 3, 7])

True True
True True
False False

In [34]:
10 not in numbers

False

In [35]:
11 not in numbers

True

In [36]:
numbers = [0, 10, 20, 30, 40, 50]
numbers.index(20)

2

In [37]:
all20 = [20]*3
all20.count(20)

3

In [38]:
numbers = [30, 50, 10, 20, 40, 60]
numbers.sort()

In [39]:
numbers

[10, 20, 30, 40, 50, 60]

In [41]:
characters = ['e', 'd', 'a', 'c', 'f', 'b']
characters.sort()

characters

['a', 'b', 'c', 'd', 'e', 'f']

In [42]:
numbers = [30, 50, 10, 20, 40, 60]
sorted(numbers)

[10, 20, 30, 40, 50, 60]

In [43]:
numbers

[30, 50, 10, 20, 40, 60]

In [44]:
characters = ['e', 'd', 'a', 'c','f', 'b']
sorted(characters)

['a', 'b', 'c', 'd', 'e', 'f']

In [48]:
sorted(numbers, reverse = True)

[60, 50, 40, 30, 20, 10]

In [51]:
lns = [[20, 5], [10, 30], [40, 20], [30, 10]]
lns.sort()

In [52]:
lns

[[10, 30], [20, 5], [30, 10], [40, 20]]

In [53]:
numbers = [30, 50, 10, 20, 40, 60]
numbers.sort()
print('sortメソッドの実行後の元のリスト:', numbers)
numbers = [30, 50, 10, 20, 40, 60]
sorted(numbers)
print('sorted関数の実行後の元のリスト:', numbers)

sortメソッドの実行後の元のリスト: [10, 20, 30, 40, 50, 60]
sorted関数の実行後の元のリスト: [30, 50, 10, 20, 40, 60]

In [54]:
nubers = [10, 20, 30, 40, 50]
numbers.append(100)
numbers

[30, 50, 10, 20, 40, 60, 100]

In [55]:
numbers1 = [10, -10, 20, 30, -20, 40, -30]
positive = []
positive.append(numbers1[0])
positive.append(numbers1[2])
positive.append(numbers1[3])
positive.append(numbers1[5])

positive

[10, 20, 30, 40]

In [56]:
numbers = [10, 20, 30, 40, 50]
numbers.extend([200, 300, 400, 200])
numbers

[10, 20, 30, 40, 50, 200, 300, 400, 200]

In [57]:
numbers = [10, 20, 30, 40, 50]
numbers.insert(1, 1000)
numbers

[10, 1000, 20, 30, 40, 50]

In [58]:
numbers = [10, 20, 30, 40, 20]
numbers.remove(30)
numbers

[10, 20, 40, 20]

In [60]:
numbers.remove(20)
numbers

[10, 40]

In [61]:
numbers.remove(100)

ValueError: list.remove(x): x not in list

In [62]:
numbers = [10, 20, 30, 40, 50]
numbers.insert(1, 1000)
numbers

[10, 1000, 20, 30, 40, 50]

In [64]:
numbers = [10, 20, 20, 30, 20, 40]
print(numbers.pop(3))
print(numbers)

30
[10, 20, 20, 20, 40]

In [67]:
ln = [10, 20, 30, 20, 40]
print(ln.pop())
print(ln)

40
[10, 20, 30, 20]

In [68]:
numbers = [10, 20, 30, 40, 50]
del numbers[2]
numbers

[10, 20, 40, 50]

In [69]:
characters = ['e', 'd', 'a', 'c', 'f', 'b']
characters.reverse()
characters

['b', 'f', 'c', 'a', 'd', 'e']

In [71]:
numbers = [10, 20, 30, 40, 50]
numbers2 = numbers.copy()
del numbers[1:3]
numbers.reverse()
print(numbers)
print(numbers2)

[50, 40, 10]
[10, 20, 30, 40, 50]

In [72]:
list('abc123')

['a', 'b', 'c', '1', '2', '3']

In [73]:
'banana'.split('n')

['ba', 'a', 'a']

In [74]:
'A and B and C'.split(' and ')

['A', 'B', 'C']

In [75]:
'A B\nC '.split()

['A', 'B', 'C']

In [76]:
''.join(['a', 'b', 'c', '1', '2', '3'])

'abc123'

In [77]:
'n'.join(['ba', 'a','a'])

'banana'

In [86]:
def change_domain(email, domain):
    email = email.split('@')
    Email = '@'.join([email[0], domain])

    return Email

In [87]:
print(change_domain('spam@utokyo-ipp.org', 'ipp.u-tokyo.ac.jp') == 'spam@ipp.u-tokyo.ac.jp')

True

In [88]:
x = 3
y = 5
point = (x, y)

In [89]:
point

(3, 5)

In [90]:
type(point)

tuple

In [92]:
numbers3 = (1, 2, 3)
numbers3

(1, 2, 3)

In [93]:
numbers3 = 1, 2, 3
numbers3

(1, 2, 3)

In [94]:
onlyone = (1)
onlyone

1

In [98]:
empty = ()
empty

()

In [99]:
numbers3 = (1, 2, 3)
numbers3[1]

2

In [100]:
len(numbers3)

3

In [101]:
numbers3[1:3]

(2, 3)

In [102]:
numbers3 = (1, 2, 3)
numbers3[1] = 5

TypeError: 'tuple' object does not support item assignment

In [103]:
numbers3 = (1, 2, 3)
list(numbers3)

[1, 2, 3]

In [104]:
numbers2 = [1, 2]
tuple(numbers2)

(1, 2)

In [120]:
def reverse_touple(ln):
    ln.reverse()
    return tuple(ln)

In [121]:
print(reverse_touple([1, 2, 3, 4, 5]) == (5, 4, 3, 2, 1))

True

In [122]:
numbers = [0, 10, 20, 30, 40]
[a, b, c, d, e] = numbers
b

10

In [123]:
a, b, c, d, e = numbers
b

10

In [124]:
a, b, c, d, e = 'hello'
d

'l'

In [126]:
numbers3 = (1, 2, 3)
(x, y, z) = numbers3
y

2

In [127]:
x, y, z = numbers3
print(y)
(x, y, z) = (1, 2, 3)
print(y)
x, y, z = 1, 2, 3
print(y)
(x, y, z) = 1, 2, 3
print(y)
x, y, z = 1, 2, 3
print(y)

2
2
2
2
2

In [128]:
x = 'apple'
y = 'pen'
x, y,  = y, x
print(x, y)

pen apple

In [129]:
print([1, 2, 3] == [1, 2, 3])
print([1, 2] == [1, 2, 3])

True
False

In [130]:
print((1, 2, 3) == (1, 2, 3))
print((1, 2) == (1, 2, 3))

True
False

In [131]:
print([1, 2, 3] != [1, 2, 3])
print([1, 2] != [1, 2, 3])

False
True

In [132]:
print([1, 2, 3] <= [1, 2, 3])
print([1, 2, 3] < [1, 2, 3])
print([1, 2, 3] < [1, 2, 4])
print([1, 2] < [1, 2, 3])

True
False
True
True

In [133]:
ls = [0, 1, 2]

for value in ls:
    print('For loop', value)

For loop 0
For loop 1
For loop 2

In [134]:
for value in [0, 1, 2]:
    print('For loop ', value)

For loop  0
For loop  1
For loop  2

In [135]:
for value in  [0,1,2]:
    print('During for loop:', value)
    print('During for loop, too:', value)

During for loop: 0
During for loop, too: 0
During for loop: 1
During for loop, too: 1
During for loop: 2
During for loop, too: 2

In [136]:
for value in (0, 1, 2):
    print('For loop ', value)

For loop  0
For loop  1
For loop  2

In [137]:
numbers = [0, 1, 2, 3, 4, 5]

In [138]:
squares1 = []
for x in numbers:
    squares1.append(x**2)
squares1

[0, 1, 4, 9, 16, 25]

In [139]:
def sum_list(ln):
    sum = 0
    for value in ln:
        sum += value

    return sum

In [140]:
print(sum_list([10, 20, 30]) == 60)
print(sum_list([-1, 2, -3, 4, -5]) == -3)

True
True

In [141]:
str1 = 'Apple and pen'

for c in str1:
    print(c.upper())

A
P
P
L
E

A
N
D

P
E
N

In [146]:
def atgc_countlist(str_atgc):
    list_count = []

    for value in 'ATGC':
        int_bpcnt = str_atgc.count(value)
        list_count.append([int_bpcnt, value])

    return list_count

In [147]:
print(sorted(atgc_countlist('AAGCCCCATGGTAA')) == sorted([[5, 'A'], [2, 'T'], [3, 'G'], [4, 'C']]))

True

In [148]:
numbers = [0, 1, 2, 3, 4, 5]

squares1 = []
for x in numbers:
    squares1.append(x**2)

squares1

[0, 1, 4, 9, 16, 25]

In [149]:
squares2 = [x**2 for x in numbers]
squares2

[0, 1, 4, 9, 16, 25]

In [150]:
#[x を含む式 for x in リストを返す式]

In [151]:
[y**2 for y in numbers]

[0, 1, 4, 9, 16, 25]

In [152]:
c = [a, b]

In [153]:
c[0] is c[1]

False

In [156]:
a = []
a.append(1)
a

[1]

In [157]:
b = []

a is b

False